<div class="row"  *ngIf="statusContact">
  <form  (ngSubmit)="addContact()">
    <div class="input-field col s6" >

        <i class="fa fa-user prefix"></i>
        <input type="text" placeholder="Full name" name="name"  [(ngModel)]="contact.name">
        <label for="">Name</label>
    </div>
    <div class="input-field col s6">
        <i class="fa fa-phone prefix"></i>
        <input type="number" placeholder="Phone number" name="telephone"  [(ngModel)]="contact.telephone">
        <label for="">Telephone</label>
    </div>
    <button class="btn-large red" type="submit"  >Submit</button>
  </form>
   
</div>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light red"  (click)="statusContact=!statusContact">
        <i class="large fa fa-plus"></i>
    </a>
</div>

